#main {
    display: flex;
    flex:auto;
    flex-direction: column;
    justify-content: space-evenly;
    --w:58vh;
    --h:80vh;
    height:var(--h);
    width:var(--w);
    min-width: 400px;
    min-height: 400px;
    gap: 1vh;
    background-color: black;
    padding: 2vh;
}

#display {
    background-color: black;
    /*
    border-color: lightslategray;
    border-style: solid;
    */
    font-size: calc((var(--w) / 4));
    text-align: right;
    color: white;
    padding: 0vh 2vw;
    margin: 0vh 8vw;
    flex: 1;
}

#buttonpad {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    padding: 2vh;
    flex: 1;
}


.row {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

button {
    width: 12vw;
    height: 12vw;
    border-radius: 6vw;
    /*font-size: 24px;*/
    font-size:calc((var(--w) / 15));
    font-weight: 400;
    border: none;
    margin: 6px;
    flex:auto;
}

#zero {
  width: 26vw;
}

.graybutton {
    background-color: lightgray;
}

.number {
    background-color: darkgray;
    color: white;
}

.operation {
    background-color: #FFAC1C;
    color: white;
}

.operation-pressed {
    background-color: white;
    color: #FFAC1C;
}